@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    /* Definición de variables de colores para el modo claro */
    --background-color: #F6FAFE; /* Color de fondo  */
    --text-color: #0A164B; /* Color de texto  */
    --nav-color: #d5e3ff43; /* Color de la barra de navegación  */
    --agenda-color:#F6FAFE; /* Color de agenda */
    --button-color: #3478CC; /* Color de los botones */
    --button-text-color: #edfcff;/* Color de texto de los botones */
    --button-hover-color: #5392E8; /* Color de los botones:hover */
    --day-agenda-color: #e3f2f5;
    
    --elevation-color:#3f4e9583;
    --fc-today-color:#0b6b591a;
    --button-background-color-active:#0031C5;
    --text-color-active: #edfcff;
    --fc-nobusines:#bbcbe3b3;



}
  
  /* Definición de variables de colores para el modo oscuro */
  [data-theme="dark"] {
    --background-color: #1B1B21; 
    --text-color: #edfcff; 
    --nav-color: #1F1F25;
    --agenda-color: #1F1F25;
    --button-color: #045EB1;
    --button-hover-color: #3478CC;
    --button-text-color: #edfcff;
    --day-agenda-color: #373b3a;
    
    --elevation-color:#3a457f8b;
    --fc-today-color:#07483c3b;
    --button-background-color-active:#0029A9;
    --fc-nobusines:#06041b94;



  }
/* Estilos body y main*/
body, main {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Estilos Barra Navegación */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -1px var(--elevation-color), 0 2px 4px -2px rgba(0,0,0,0.1);
    background-color: var(--nav-color); 
    padding: 50px 36px 50px 36px;
}
#contenedorcalendario{
    padding-top: 36px;
}

/* Titles and text elements */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color); 
}

/* Styling for buttons and inputs */
#calendario button,button,.nav button, .nav .username {
    font-family: 'Roboto', sans-serif;
    background-color: var(--button-color);
    border: none;
    color: var(--button-text-color); 
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 6px -1px var(--elevation-color), 0 2px 4px -2px var(--elevation-color);
    border-radius: 16px;
    margin-left: 8px;
    text-align: center;
}

/* Hover and focus states */
 .buttonprimary:hover,#calendario button:hover,button:hover {
    background-color: var(--button-hover-color); 
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 4px 2px -3px rgba(0,0,0,0.25), 0 2px 5px 0 rgba(0,0,0,0.2);
}

/* Active state for buttons */
button:focus,#calendario button:focus {
    background-color: var(--button-background-color-active);    
    box-shadow: 0 8px 8px 0px var(--elevation-color), 0 8px 6px 0px var(--elevation-color);

}

/* Spacing and alignment */
.nav > *:not(:last-child) {
    margin-right: 16px;
}
#calendario {
    background-color: var(--agenda-color); 
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 24px;
    box-shadow: 0 4px 6px -1px var(--elevation-color), 0 2px 4px -2px rgba(0,0,0,0.1); 
    border-radius: 16px;
    box-sizing: border-box; /* Incluye padding y border en el width y height */
}

/* Calendario  */


.fc-day-header {
    text-transform: capitalize; /* Asegura que la primera letra sea mayúscula */
    font-size: 16px; /* Ajusta al tamaño de fuente deseado */
}

/* Para los nombres de los meses */
.fc-left h2 {
    display: flex;
    align-items: center;
    text-transform: capitalize; /* Asegura que la primera letra sea mayúscula */
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.1); 
    padding: 16px;
    border-radius: 16px;
}

.fc-toolbar.fc-header-toolbar{
    padding: 16px;
    box-sizing: border-box; /* Incluye padding y border en el width y height */
    border-bottom: 1px solid rgba(0, 0, 0, 0.204) ;
    border-bottom-style: dashed;

}
.fc-nonbusiness {
    background-color: var(--fc-nobusines);

}

.fc-unthemed td.fc-today {
    background-color: var(--fc-today-color);
    border-top:4px solid var(--button-hover-color);
    border-right:4px solid var(--button-hover-color);

    
}
.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 10px 0 10px !important;
}


/* Responsive  */
@media (max-width: 600px) {
    

    .fc-toolbar h2 ,.fc-toolbar.fc-header-toolbar,#calendario button,.nav button, .nav .username {
        padding: 0 4px; 
        font-size: smaller;
    }
    #calendario button{
        height: min-content;
    }

    .fc-toolbar h2 {
        font-size: smaller!important;
        margin: 0;
        
    }
    .fc-table {
        font-size: 0.8rem;
        padding: 10px;
      }
      .fc-header {
        display: flex;
        flex-direction: column;
      }
    
}
.fc-event-container {
    margin: 0px;
}
