@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* #####################  Variables de colores para el modo claro #################*/
:root {
    --background-color: #bce3ff;
    --footer-background:#d3edff;
    --input-color: #bce3ff2b;
    --text-color: #0D47A1;
    --text-colorok: #6cb485;
    --nav-color: #FFFFFF;
    --agenda-color: #FFFFFF;

    --button-color: #2196F3;
    --button-color-secondary: #1976D2;
    --button-color-night: #051c3d;
    --button-color-night-hover: #092c5c;
    --button-color-exit: #FF897D;
    --button-color-exit-hover: #0d096a;
    --button-color-plus: #5ee8cf;
    --button-text-color: #FFFFFF;
    --button-color-secondary-variant: #5eacf9;
    --button-color-danger: #FF5449;

    --button-hover-color: #1E88E5;
    --elevation-color: #00000029;
    --fc-today-color: #e6f7ff;
    --today-border-color: #91dcff;
    --fc-nobusiness: #f3faff;
    --border-color: #B0BEC5;
    --border-color-input: #42A5F5;

    --event-work: #6a6ed9;
    --event-sport: #68bea0;
    --event-leisure: #f3759f;
    --event-other: #FFD54F;
    
    --logo: url('../img/TaskSync2.png');

}

/* ##################### Variables de colores para el modo oscuro #################*/
[data-theme="dark"] {

    --background-color: #121212;
    --footer-background:#0c151b;
    --input-color: #0d0d0de6;
    --text-color: #B0BEC5;
    --nav-color: #09141b;
    --agenda-color: #0d1c25;

    --button-color: #095fe4;
    --button-color-secondary: #152229;
    --button-color-night: #1657b7;
    --button-color-night-hover: #1a63cf;
    --button-color-exit: #0e2181;
    --button-color-plus: #3ea492;
    --button-text-color: #E3F2FD;
    --button-color-secondary-variant: #1d4c44;

    --day-agenda-color: #263238;
    --elevation-color: #455A64;
    --fc-today-color: #143550;
    
    --today-border-color: #025ba2;
    --fc-nobusiness: #142027;
    --border-color: #78909C;
   
    --event-work: #4d5094;
    --event-sport: #539980;
    --event-leisure: #c35176;
    --event-other: #b59636;

    --logo: url('../img/TaskSync2DarkMode.png');
}

/*############################### Estilos body y main #############################*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

/* ############################### Barra Navegación ################################*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 6px -1px var(--elevation-color), 0 1px 2px -1px var(--elevation-color);
    background-color: var(--nav-color);
    padding: 16px 38px 16px 32px;
    border-radius: 0px 0px 16px 16px;
    margin: 0 24px;
}

.lefttnav {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* ####### Logo aplicacion ######## */

.logo {
    height: 112px;
    width: 112px;
    z-index: 1001;
    background-size: cover;
    background-position: center;
    background-image: var(--logo);
}


/* Titulos */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

/*  ############################ Botones e inputs #######################*/
#calendario button,
button {
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: var(--button-color);
    color: var(--button-text-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 8px 6px -1px var(--elevation-color), 0 1px 2px -1px var(--elevation-color);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    margin-right: 16px;
    text-align: center;
}

.buttonsecondary,
.fc-dayGridMonth-button,
.fc-timeGridWeek-button,
.fc-timeGridDay-button {
    background-color: var(--button-color-secondary) !important;
}

.fc-prev-button,
.fc-next-button {
    background-color: var(--button-color-secondary-variant) !important;
}

.buttonadd {
    height: 64px;
    width: 64px;
    background-color: var(--button-color-plus);
}

.buttonnight {
    background-color: var(--button-color-night);
}

.buttonnight:hover {
    background-color: var(--button-color-night-hover);
}

.buttonexit {
    background-color: var(--button-color-exit);
}

button:hover {
    filter: brightness(115%);
    box-shadow: 0 10px 8px -2px var(--elevation-color), 0 2px 4px -2px var(--elevation-color);
}

#agenda button {
    box-shadow: 0 8px 6px -1px var(--elevation-color), 0 1px 2px -1px var(--elevation-color);
}

button:active {
    filter: contrast(190%);
    box-shadow: 0 10px 8px -2px var(--elevation-color), 0 2px 4px -2px var(--elevation-color);
}

.fc-dayGridMonth-button:focus,
.fc-timeGridWeek-button:focus,
.fc-timeGridDay-button:focus {
    filter: contrast(160%);
}

/* ############################# Calendario ###################################*/
.calendarContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#calendario {
    background-color: var(--agenda-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 32px;
    border: 1px solid var(--border-color);
    box-shadow: 0 8px 6px -1px var(--elevation-color), 0 1px 2px -1px var(--elevation-color);
    border-radius: 16px;
    box-sizing: border-box;
}

body .fc,
.fc-event {
    font-size: 16px;
}

.fc-view-container {
    border-radius: 16px;
}

.fc-day-header {
    text-transform: capitalize;
    font-size: 16px;
}

.fc-left h2 {
    font-size: 24px;
    display: flex;
    border: 1px solid var(--border-color);
    align-items: center;
    text-transform: capitalize;
    box-shadow: 0 8px 6px -1px var(--elevation-color), 0 1px 2px -1px var(--elevation-color);
    padding: 10px;
    border-radius: 16px;
}

.fc-toolbar.fc-header-toolbar {
    padding: 16px;
    box-sizing: border-box;
    border-radius: 16px;
    margin-bottom: 8px;
}

.fc-sat,.fc-sun {
    background-color: var(--fc-nobusiness);
}

.fc-unthemed td.fc-today {
    background-color: var(--fc-today-color);
    border-top: 4px solid var(--today-border-color);
    border-right: 4px solid var(--today-border-color);
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 10px 0 10px !important;
}

/*############################### Footer ######################################## */

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    padding: 0px 16px;
    font-size: 14px;
    background-color: var(--footer-background);
    border-top: 1px solid #142027;
}

footer p{
    margin:8px 0px
}
li{
    padding: 2px;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    margin: 8px 0px;
}

footer ul li a:hover {
    text-decoration: underline;
}

/* ########################### Responsive ########################################## */

@media (max-width: 600px) {

    #calendario button,
    button {
        font-size: 12px;
        line-height: 24px;
        padding: 0 8px;
        margin-right: 8px;
    }


    .logo {
        height: 80px;
        width: 80px;

    }

    .nav {
        padding: 8px 18px 8px 16px;
        border-radius: 0px 0px 16px 16px;
        margin: 0 24px;
    }


    body .fc,
    .fc-day-header {
        font-size: 12px;
    }

    .fc-event {
        font-size: 10px;
    }

    .fc-toolbar h2,
    .fc-toolbar.fc-header-toolbar,
    #calendario button,
    .nav button,
    .nav .username {
        font-size: 10px;
        padding: 8px;
    }

    #buttonPlus {
        display: flex;
        height: auto;
        width: auto;
        padding: 8px 16px 8px 16px;
    }

    #calendario button {
        height: min-content;
    }

    .fc-toolbar h2 {
        font-size: 10px;
        margin: 0;
        padding: 14px;

    }

    .fc-table {
        font-size: 0.8rem;
        padding: 10px;
    }

    .fc-header {
        display: flex;
        flex-direction: column;
    }

    .fc-event-container {
        margin: 0px;
    }

    .footer {
        font-size: 8px;
    }
}

@media (max-width: 380px) {

    #calendario button,
    button {
        font-size: 10px;
        line-height: 16px;
        padding: 0 4px;
        margin-right: 8px;
    }


    .logo {
        height: 60px;
        width: 60px;

    }

    .nav {
        padding: 6px 14px 6px 12px;
        border-radius: 0px 0px 16px 16px;
        margin: 0 16px;
    }


    body .fc,
    .fc-day-header {
        font-size: 10px;
    }

    .fc-event {
        font-size: 8px;
    }

    .fc-toolbar h2,
    .fc-toolbar.fc-header-toolbar,
    #calendario button,
    .nav button,
    .nav .username {
        font-size: 10px;
        padding: 4px;
    }

    #buttonPlus {
        display: flex;
        height: auto;
        width: auto;
        padding: 6px 14px 6px 14px;
    }

    #calendario button {
        height: min-content;
    }

    .fc-toolbar h2 {
        font-size: 10px;
        margin: 0;
        padding: 6px;

    }

    .fc-table {
        font-size: 12px;
        padding: 10px;
    }

    .fc-header {
        display: flex;
        flex-direction: column;
    }

    .fc-event-container {
        margin: 0px;
    }

}